@tailwind base;

@tailwind components;

.btn-blue {
  @apply bg-red-500 text-white font-bold py-2 px-4 rounded mt-4;
}

.gradient-black {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1));
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@tailwind utilities;
